<a href="https://colab.research.google.com/github/Faradezo/BDAMEADD/blob/main/BIG_A1_LinearRegressionStatsmodels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# **Tarefa de Aprofundamento 1** 
## CASO: Estimando o Preço de Imóveis em São Paulo
---
<br>
<br>

A partir deste notebook crie um modelo de regressão múltipla com a biblioteca `statsmodels` para predição de preço de imóveis com base no histórico de preços e características de vários imóveis de São Paulo. 

Em seguida, com base nos seus resultados, responda o **questionário do Moodle**.

# Basic imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Exploração dos Dados

Entenda os dados disponíveis e em seguida faça as transformações necessárias nos dados. Quantidades dos dados, se existem valores nulos e valores máximos e mínimos dos atributos são algumas explorações comuns.

(Moodle) **Q1**. Quantos bairros existem no histórico e qual o bairro mais presente nos dados?

In [2]:
df = pd.read_excel('http://meusite.mackenzie.br/rogerio/data_load/regressao_preco_imoveis.xlsx')
df.head()

                bairro  areaM2  suites  dormitorios  banheiros  vagas    preco
0  vila-nova-conceicao      32       1            1          1      1   490000
1  vila-nova-conceicao     157       2            2          2      2  3180000
2  vila-nova-conceicao     205       2            3          3      3  1900000
3  vila-nova-conceicao     193       3            3          3      3  3565000
4  vila-nova-conceicao     116       1            3          2      2  1605000

In [35]:
# seu código
df.groupby(df.bairro.tolist(),as_index=False).size().sort_values('size', ascending=False)

                 index  size
2         vila-mariana  1714
1              paraiso   802
3  vila-nova-conceicao   789
4           vila-sonia   307
0              morumbi   129

# Preparação dos Dados

Use [statsmodels.formula.api](https://www.statsmodels.org/dev/generated/statsmodels.formula.api.ols.html)

```
from statsmodels.formula.api import ols   
```

Se você empregar esta forma do `statsmodels` ele fará de modo implítico o hot encode dos dados e não há necessidade de nenhuma transformação dos dados (não faremos a normalização aqui. Embora sempre recomendável na maior parte dos casos, aqui o resultado de predição será o mesmo com o sem a normalização).

Atenção, se você empregar 
```
from statsmodels.api import OLS 
```
os resultados serão os mesmos, mas alguma preparação nos dados será necessária e a construção do modelo será um pouco diferente.

In [36]:
from statsmodels.formula.api import ols   

# nada a fazer se estiver empregando a api acima

# Estimando o modelo com o `statsmodels`

Estime o modelo.

(Moodle) **Q2**. Qual o coeficiente de determinação ajustado obtido?

Dica: empregue `result.rsquared_adj` no lugar de `result.summary()` para obter resultados com maior precisão.

(Moodle) **Q3**. Qual coeficiente estimado é menos significativo?

In [62]:
# seu código

import statsmodels.formula.api as sm 

model_1 = sm.ols(formula= 'preco ~ bairro + areaM2 + suites + dormitorios + banheiros + vagas', data = df )

result_1 = model_1.fit()

print(result_1.rsquared_adj)
print(result_1.summary())

0.7948154407290992
                            OLS Regression Results
==============================================================================
Dep. Variable:                  preco   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.795
Method:                 Least Squares   F-statistic:                     1611.
Date:                Sun, 21 Aug 2022   Prob (F-statistic):               0.00
Time:                        23:52:45   Log-Likelihood:                -54290.
No. Observations:                3741   AIC:                         1.086e+05
Df Residuals:                    3731   BIC:                         1.087e+05
Df Model:                           9
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      -3.16e+05   5.35e+04     -5.911      0.000   -4.21e+05   -2.11e+05
bairro[T.paraiso]              8.331e+04   4.68e+04      1.781      0.075   -8410.743    1.75e+05
bairro[T.vila-mariana]         -1.18e+05   4.44e+04     -2.657      0.008   -2.05e+05   -3.09e+04
bairro[T.vila-nova-conceicao]  7.698e+05   4.66e+04     16.502      0.000    6.78e+05    8.61e+05
bairro[T.vila-sonia]          -5.245e+05   5.13e+04    -10.234      0.000   -6.25e+05   -4.24e+05
areaM2                         7580.2937    241.143     31.435      0.000    7107.508    8053.079
suites                         1.532e+05   1.33e+04     11.524      0.000    1.27e+05    1.79e+05
dormitorios                   -9.971e+04    1.5e+04     -6.655      0.000   -1.29e+05   -7.03e+04
banheiros                      4755.9925   8373.499      0.568      0.570   -1.17e+04    2.12e+04
vagas                          3.331e+05   1.36e+04     24.503      0.000    3.06e+05     3.6e+05
==============================================================================
Omnibus:                     1315.549   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12370.154
Skew:                           1.401   Prob(JB):                         0.00
Kurtosis:                      11.457   Cond. No.                     1.89e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Re-estimando o modelo com o `statsmodels`

Estime novamente o modelo excluindo o atributo menos significativo (um único atributo).

(Moodle) **Q4**. Qual o novo coeficiente de determinação ajustado obtido?

In [42]:
# seu código

model_2 = sm.ols(formula= 'preco ~ bairro + areaM2 + suites + dormitorios + vagas', data = df )

result_2 = model_2.fit()

print(result_2.rsquared_adj)
print(result_2.summary())

0.7948526838722687
                            OLS Regression Results
==============================================================================
Dep. Variable:                  preco   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.795
Method:                 Least Squares   F-statistic:                     1812.
Date:                Sun, 21 Aug 2022   Prob (F-statistic):               0.00
Time:                        21:44:14   Log-Likelihood:                -54290.
No. Observations:                3741   AIC:                         1.086e+05
Df Residuals:                    3732   BIC:                         1.087e+05
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      -3.14e+05   5.33e+04     -5.887      0.000   -4.19e+05   -2.09e+05
bairro[T.paraiso]              8.287e+04   4.68e+04      1.772      0.076   -8824.930    1.75e+05
bairro[T.vila-mariana]        -1.181e+05   4.44e+04     -2.659      0.008   -2.05e+05    -3.1e+04
bairro[T.vila-nova-conceicao]  7.689e+05   4.66e+04     16.494      0.000    6.78e+05     8.6e+05
bairro[T.vila-sonia]          -5.246e+05   5.12e+04    -10.237      0.000   -6.25e+05   -4.24e+05
areaM2                         7591.9890    240.241     31.602      0.000    7120.973    8063.005
suites                         1.561e+05   1.23e+04     12.700      0.000    1.32e+05     1.8e+05
dormitorios                   -9.795e+04   1.47e+04     -6.683      0.000   -1.27e+05   -6.92e+04
vagas                          3.337e+05   1.35e+04     24.631      0.000    3.07e+05     3.6e+05
==============================================================================
Omnibus:                     1314.663   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12354.953
Skew:                           1.400   Prob(JB):                         0.00
Kurtosis:                      11.451   Cond. No.                     1.89e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Predição

Faça a predição do preço, com o melhor dos modelos obtidos acima, de um imóvel na Vila Mariana, com 134 m2, 1 suite, 4 dorm, 3 banheiros e 3 vagas.

(Moodle) **Q5**. Qual o preço estimado, para o melhor dos modelos obtidos, de um imóvel na Vila Mariana, com 134 m2, 1 suite, 4 dorm, 3 banheiros e 3 vagas?

In [86]:
# seu código
model_3 = sm.ols(formula= 'preco ~ suites', data = df )#bairro + areaM2 + suites + dormitorios + banheiros + vagas

result_3 = model_3.fit()
#print(result_3.summary())
casa = pd.DataFrame({'suites':[1]})#,	'areaM2':[134], 'suites':1, 'dormitorios':[4], 'banheiros':[3], 'vagas':[3]})
#casa2 = pd.DataFrame({'bairro':['vila-nova-conceicao'],	'areaM2':[32], 'suites':[1], 'dormitorios':[1], 'banheiros':[1], 'vagas':[1]})
#vila-nova-conceicao	32	1	1	1	1	490000
result_3.predict(casa)
#result_3.summary()

0    1.048993e+06
dtype: float64

In [82]:
df1 = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/MASS/Cars93.csv", index_col=0)
df1.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [87]:
df1.columns = [x.replace('.','') for x in df1.columns]

In [88]:
model = sm.ols(formula='Price ~Horsepower', data = df1)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.621
Model:                            OLS   Adj. R-squared:                  0.617
Method:                 Least Squares   F-statistic:                     149.3
Date:                Mon, 22 Aug 2022   Prob (F-statistic):           6.84e-21
Time:                        00:25:36   Log-Likelihood:                -297.23
No. Observations:                  93   AIC:                             598.5
Df Residuals:                      91   BIC:                             603.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.3988      1.820     -0.769      0.444      -5.014       2.216
Horsepower     0.1454      0.012     12.218      0.000       0.122       0.169
==============================================================================
Omnibus:                       55.766   Durbin-Watson:                   1.466
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              308.782
Skew:                           1.805   Prob(JB):                     8.89e-68
Kurtosis:                      11.164   Cond. No.                         449.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [89]:
x = pd.DataFrame({'Horsepower':[150]})
result.predict(x)

0    20.406915
dtype: float64